@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');


:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-display: swap;

  --dark-color: black;
  --dark-blue: #071927;
  --background-color: #F5F3F0;
  --corporative-purple: #33358D;
  --polo-blue: #9FADD4;
  --light-polo-blue: #BECAE8;
  --light-blue: #B9DCF9;
  --white: white;
  --letter-blue: #5BAEF0;
  --light-grey: #EDF0F7;
  --medium-grey: #DCE1EF;
  --potent-blue: #1A4AC1;


}

html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;

}