.heros-section {
    position: relative;
    display: flex;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 10vh;
}

.heros-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.heros-section .title-subtitle {
    position: relative;
    z-index: 2;
}

.heros__title {
    color: white;
}